.best-book {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-entry {
  margin: 20px;
  text-align: center;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.book-cover {
  width: 200px;
  height: 300px;
}

.delete-button {
  margin-top: auto;
  width: fit-content;
}
